.App {
  
  width: 90%;
  margin: 100px auto 0;
}
.back_graphic {
  width: 50vw;
  position: absolute;
  z-index: -1;
  top: -30px;
  left: -30px;
  opacity: 0.5;
  animation: App-logo-spin infinite 200s linear;
}
.layout_name {
  color: #61DAFB;
  font-weight: lighter;
}

/* NAVIGATION BAR*/
.layout_nav {
  text-align: right;
  color: #4d4d4d;   
}
.layout_nav a{
  display: inline;
  padding: 0 0 0 10px;
  text-decoration: none;
  transition: color 0.8s, text-decoration 0.8s;
}

.layout_nav a:visited {
  color: #4d4d4d;  
}

.layout_nav a:hover {
  color: #61DAFB;
  text-decoration: underline;
}

/**/
.grid_container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-row-gap: 100px;  
}

.layout_box {
  background-color: #cce2df;  
}

.item1 {
  width: 100%;
}
.item2 {
  margin: 0;
  padding: 80px 30px 0 100px;
  font-size: 4em;
  font-weight: lighter;
  color: #fff;
  background-color: lightgrey;  
}

.collage {
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #cce2df;  
}
.photo1, .photo2, .photo3, .photo4 {
  position: relative;
  width: 100%;

  /*animation: shake infinite 1s linear;*/
}

.photo1 {
  grid-column: 1 / span 1;
  grid-row: 1/ span 1;
  overflow: hidden;
}
.photo2 {
  grid-column: 2 / span 1;
  grid-row: 1/ span 1;
  overflow: hidden;
}
.photo3 {
  grid-column: 1 / span 1;
  grid-row: 2/ span 1;
  overflow: hidden;
}
.photo4 {
  grid-column: 2 / span 1;
  grid-row: 2/ span 1;
  overflow: hidden;
}
.collage_item {
  width: 100%;  
  transition: filter 1s;
  position: relative;
  /*animation: collage-filter infinite 10s linear alternate;*/
}

.drawing1, .drawing2, .drawing3, .drawing4 {  
  width: 100%;
  opacity:0;
  /*animation: shake infinite 1s linear;*/
}


.drawing1 {
  grid-column: 1 / span 1;
  grid-row: 1/ span 1;
  z-index: 1;
}
.drawing2 {
  grid-column: 2 / span 1;
  grid-row: 1/ span 1;
  z-index: 1;
}
.drawing3 {
  grid-column: 1 / span 1;
  grid-row: 2/ span 1;
  z-index: 1;
}
.drawing4 {
  grid-column: 2 / span 1;
  grid-row: 2/ span 1;
  z-index: 1;
  
}
.drawing1:hover,.drawing2:hover,.drawing3:hover,.drawing4:hover {
  opacity: 1;
  animation: shake infinite 1s linear;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes collage-filter {
  from { filter: sepia(20%); }
  to { filter: sepia(60%); }
}

@keyframes shake {
  0% { transform: translate( 1px, 1px) rotate(0deg); }
  10% { transform: translate( -1px, -5px) rotate(-1deg); }
  20% { transform: translate(-5px, 0px) rotate(1deg); }
  30% { transform: translate(5px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-5px, 1px) rotate(0deg); }
  70% { transform: translate(5px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -2px) rotate(1deg); }
  90% { transform: translate(1px, 4px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}